.mainTodo {
    width: 500px;
    margin:  0 auto;
    text-align: center;
}

button {
    background: #c2c2c2;
    padding: .4rem;
    border: 0;
    margin-left: 2px;
    margin-top: 2px;
    height: 30px;
}

.button-true {
    background-color: palegreen!important;
}

.button-false {
    background: palegoldenrod!important;
}

input {
    height: 30px;
    border-radius: 5px;
}

.text-line-through {
    text-decoration: line-through;
}